body {
  background-color: #333333;
  color: #fff;
}

a {
  color: #5865F2;
  text-decoration: none;
}

a:hover {
  color: #5865F2;
  text-decoration: underline;
}

a:active {
  color: #5865F2;
  text-decoration: underline;
}
